html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  background: url("../assets/svg/bubble-animated-background.svg") !important;
 
}

main {
  margin: 4% 4%;
}

.text-center {
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 0 4rem;
  max-width: 40rem;
  background-color: #fff;
  border-radius: 2rem;
}

form .form__info {
  padding: 3rem 0;
}

.form-info > p {
  padding: 0.2rem;
  color: #4a5568;
}

form h2 {
  color: #083e9e;
  font-size: 23px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: #4a5568;
  font-size: 13px;
}

form input {
  height: 4.2rem;
  width: 100%;
  padding: 0 0.7rem;
  background-color: #edf2f7;
  font-family: inherit;
  border: none;
  border-radius: 0.3rem;
}

.form__control {
  margin-bottom: 3rem;
}

input[type="submit"] {
  margin-bottom: 3rem;
  background-color: #083e9e;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

input[type="submit"]:hover {
  background-color: #062863;
}

footer {
  margin: 2rem 0;
  font-size: 12px;
}

footer p {
  text-decoration: none;
  color: #fff;
}

footer > p > #co:hover {
  color: #4a5568;
}
